<h1>New Task</h1>

<%= form_with model: @task, url: tasks_path, local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div>
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>

  <%= form.submit %>
<% end %>

<%= link_to 'Back to Task List', tasks_path %>
