<h1><%= @task.title %></h1>

<p><strong>Details:</strong> <%= @task.details %></p>

<p><strong>Completed:</strong> <%= @task.completed ? 'Yes' : 'No' %></p>

<%= link_to 'Back to main page', tasks_path %>
<%= link_to 'Edit Task', edit_task_path(@task) %>
